.input {
  width: 100;
  padding: 10px;
  border-radius: 2px;
}

body {
  background-color: white
}

@media (max-width: 640px) {
  .fc-toolbar-title {
    font-size: 14px;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}