.event-card {
  padding: 12px;
  border-left: 4px solid #4f46e5;
  background: #f9fafb;
  margin: 10px 0;
  border-radius: 6px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  background: #4f46e5;
  color: white;
}

.navbar a {
  margin-left: 16px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}
